.profileIcon {
  width: 40px;
  height: 40px;
}

.formTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
}

.container :global(.vtex-button):hover {
  background: unset;
}

.profileIcon {
  width: 40px;
  height: 40px;
}

.options :global(.vtex-button__label) {
  color: black;
}
