@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

.link:hover {
  color: #00aeef;
}

/* HEADER */
.paragraph--contacto-top {
  margin: 0;
  margin-left: 5px;
  font-size: 12px;
}

.link--contacto-top {
  text-decoration: none;
  font-size: 12px;
  color: white;
  font-weight: 400;
  font-family: "Helvetica";
}

.paragraph--texto-submenu-imagen {
  margin: 0;
  font-weight: bold !important;
  text-transform: uppercase;
}

.paragraph--contacto-top-mobile {
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
}

.paragraph--whatsapp-header {
  margin: 0;
}

.container--whatsapp-header {
  width: 100%;
}

.link--whatsapp-header {
  color: #fff;
  text-decoration: unset;
}

.paragraph--contacto-top-texto {
  font-family: "Helvetica" !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  color: white;
  margin: 5px 0;
}

.container--contacto-top-texto {
  width: 800px;
}

.container--info-header {
  width: 100%;
  background: #000;
  z-index: 5;
}

.paragraph--info-header {
  margin: 3px 0 !important;
  font-size: 16px !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.paragraph--visualizador-top {
  font-size: 9px;
  color: white;
  font-family: "Helvetica";
  font-weight: 400;
}

.paragraph {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
}

.link--visualizador-top {
  font-size: 9px;
  color: white;
  font-family: "Helvetica";
  font-weight: 400;
}

.container--titulo-menu {
  margin-left: 12px;
}

.paragraph--titulo-menu {
  font-family: "Helvetica Light";
  font-weight: bold;
  border-bottom: solid 2px #00aeef;
  margin: 0 0 5px;
  font-size: 13px;
  color: #000;
}

.paragraph--titulo-informativo-mobile {
  color: black;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
}

.container--titulo-informativo-mobile {
  margin-left: 20px;
}

/* HOME */
.container--titulo-shelf {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

.paragraph--info-1,
.paragraph--info-2,
.paragraph--info-3,
.paragraph--info-4 {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  text-align: left;
}

.paragraph--info-1::after,
.paragraph--info-2::after,
.paragraph--info-3::after,
.paragraph--info-4::after {
  content: "";
  width: 25px;
  display: block;
  border-bottom: solid 2px #00aeef;
}

.paragraph--info-1-mobile,
.paragraph--info-2-mobile,
.paragraph--info-3-mobile,
.paragraph--info-4-mobile {
  font-family: "Helvetica";
  font-weight: 900;
  font-size: 11px;
  text-align: initial;
  margin: 0;
}

.paragraph--info-1-mobile::after,
.paragraph--info-2-mobile::after,
.paragraph--info-3-mobile::after,
.paragraph--info-4-mobile::after {
  content: "";
  width: 25px;
  display: block;
  border-bottom: solid 2px #00aeef;
}

.paragraph--info-1-texto {
  margin: 0;
  font-size: 12px;
  color: black;
}

.paragraph--info {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
}

.paragraph--titulo-shelf {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: -5px;
  color: black;
}

.paragraph--titulo-descripcion {
  margin-bottom: 0;
}

.container--cinta-home {
  margin: 40px 0;
  background: #f2f2f2;
  border-top: solid 1px #70707050;
  border-bottom: solid 1px #70707050;
}

.wrapper--cinta-home {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.container--fondo {
  height: 140px;
  background: #f2f2f2;
  margin-bottom: -140px;
}

.paragraph--cinta-home {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  margin: 10px 0;
}

.strong--texto-noticia {
  font-size: 20px;
  color: #000;
}

.paragraph--texto-noticia {
  width: 90%;
  margin: auto;
}

.wrapper--texto-noticia {
  max-height: 180px;
  overflow-y: hidden;
}

.wrapper--texto-video {
  width: 90%;
  margin: auto;
}

.strong--texto-video {
  font-size: 20px;
  color: #000;
}

.paragraph--titulo-shelf::after {
  border-bottom: solid 5px #00aeef;
  width: 120%;
  margin-left: -10%;
  content: "";
  display: block;
}

.strong--titulo-sale {
  font-size: 27px;
  color: black;
  font-family: "Poppins";
  font-weight: 600;
  text-transform: uppercase;
}

.paragraph--titulo-sale {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 10px;
}

.link--sale-ver-mas {
  text-decoration: underline;
  color: black;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 17px;
}

.container--sale-ver-mas {
  max-width: 1280px;
  margin: auto;
}

.container--titulo-sale {
  margin-top: 40px !important;
  max-width: 1280px;
  margin: auto;
}

.container--titulo-instagram {
  max-width: 1280px;
  margin: auto;
}

.paragraph--titulo-instagram {
  margin-top: 0;
  font-family: "Poppins";
  font-weight: 600;
  color: #000;
}

.paragraph--titulo-instagram-mobile {
  font-family: "Poppins";
  font-weight: 600;
}

.container--titulo-instagram-mobile {
  width: 90%;
  margin: auto;
}

.container--link-home {
  border-right: solid 1px #000;
}

:global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child
  .container--link-home {
  border-right: unset;
}

.link--link-home {
  color: #000;
  text-decoration: unset;
  font-weight: bold;
}

/* FOOTER */
.strong--footer-newsletter-text {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  color: black;
}

.paragraph--footer-newsletter-text {
  margin: 0;
}

.paragraph--footer-newsletter-text {
  font-family: "Helvetica";
  font-weight: 400;
  color: #606060;
  font-size: 15px;
}

.paragraph--titulo-footer {
  margin-left: 10px;
  color: white;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.paragraph--footer-copy {
  color: #000;
  font-size: 14px;
}

.strong--titulo-newsletter {
  font-size: 45px;
  font-weight: 500;
  color: #00aeef;
}

.paragraph--titulo-newsletter {
  margin: 0;
}

.paragraph--titulo-newsletter {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  line-height: 25px;
}

.paragraph--titulo-rrss {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.link--footer-contacto {
  color: #dad9d9;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 10px;
  margin-left: 8px;
  text-decoration: none;
}

.paragraph--footer-contacto {
  margin: 0;
}

.paragraph--titulo-informativo {
  font-family: "Helvetica";
  font-weight: 700;
  color: black;
  margin-bottom: 0;
  font-size: 13px;
  margin-top: 5px;
}

.paragraph--texto-informativo {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 12px;
}

.paragraph--titulo-informativo::after {
  width: 25px;
  content: "";
  display: block;
  border-bottom: 2px solid #00aeef;
  margin: auto;
}

.paragraph--texto-newsletter {
  color: white;
  font-size: 12px;
  margin: 0;
}

.paragraph--titulo-footer-partner,
.paragraph--titulo-footer-medios {
  color: white;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
}

.paragraph--texto-medios-pago-footer {
  color: white;
  margin: 0;
  font-size: 13px;
}

.container--texto-newsletter {
  margin-left: 1.5rem;
}

/* MOBILE */
.wrapper--footer-newsletter-text-mobile {
  text-align: center;
  width: 95%;
}

.strong--footer-newsletter-text-mobile {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 25px;
}

.paragraph--footer-newsletter-text-mobile {
  font-family: "Helvetica";
  font-weight: 600;
  margin-bottom: 0;
}

.wrapper--contacto-top-mobile {
  color: white;
}

/* PRODUCTO */
.container--titulo-shipping {
  margin-top: 20px;
}

.wrapper--glosario-titulo,
.wrapper--glosario {
  margin: auto;
}

.paragraph--glosario-button {
  border: solid 1px;
  padding: 5px;
  cursor: pointer;
}

.container--titulo-descripcion {
  display: none;
}

/* MODAL */
.strong--glosario-titulo {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
}

.paragraph--glosario-titulo {
  margin: 3px;
  font-family: "Helvetica";
  font-size: 13px;
}

.paragraph--titulo-informativo-mobile::after {
  border-bottom: solid 2px #00aeef;
  width: 35px;
  content: "";
  display: block;
}

.container--titulo-form {
  width: 90%;
  margin: auto;
  border: solid 1px #d2cfcf;
  border-bottom: unset;
  padding: 20px 20px 0px 20px;
  background: #fff;
}

.paragraph--titulo-form-2 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.flexCol--contenedor-form-col {
  width: fit-content;
}

.container--titulo-form-servicios {
  width: 90%;
  margin: auto;
  border: solid 1px #d2cfcf;
  border-bottom: unset;
  border-top: unset;
  padding: 20px 30px 0px 30px;
  background: #fff;
}

.paragraph--titulo-form {
  font-size: 30px;
  margin-bottom: 0;
  line-height: 30px;
  margin-top: 10px;
}

.paragraph--titulo-form::after,
.paragraph--titulo-servicios::after,
.paragraph--titulo-form-servicios-0::after,
.headingLevel4--texto-info-servicios-institucional::after {
  display: block;
  width: 50px;
  border-bottom: 3px solid #00aeef;
  content: "";
  margin-top: 10px;
}

.container--titulo-servicios,
.container--texto-servicios,
.container--aclaracion-servicios {
  max-width: 1280px;
  margin: auto;
}

.paragraph--titulo-servicios,
.headingLevel4--texto-info-servicios-institucional {
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
}

.paragraph--texto-servicios {
  font-size: 18px;
  line-height: 23px;
}

.paragraph--aclaracion-servicios {
  margin-top: 0;
  color: grey;
}

.container--titulo-form-servicios-0 {
  width: 90%;
  margin: auto;
  border: solid 1px #d2cfcf;
  border-bottom: unset;
  padding: 20px 30px 0px 30px;
  background: #fff;
}

.paragraph--titulo-form-servicios-0 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 4px;
}

.paragraph--titulo-form-servicios {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .container--titulo-form-servicios,
  .container--titulo-form-servicios-0 {
    padding: 0 20px 20px 20px;
  }
  .wrapper--texto-tiendas {
    width: 90%!important;
    margin: auto;
  }
  .container--titulo-elemento-servicios-institucional,
  .paragraph--texto-servicios-institucional {
    width: 95%;
    margin: auto;
  }
  .container--boton-spaceplanner-institucional {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .paragraph--cinta-home {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    margin: 10px 0;
  }
  .paragraph--titulo-newsletter {
    font-size: 15px;
  }
  .strong--titulo-newsletter {
    font-size: 35px;
  }
  .paragraph--titulo-footer-medios {
    margin-left: 10px;
  }
  .paragraph--footer-copy {
    font-size: 12px;
  }
  .container--footer-copy {
    display: flex;
    justify-content: center;
  }
  .container--titulo-institucional, .container--texto-servicios-institucional {
    max-width: 90%!important;
  }
  .paragraph--titulo-rrss {
    font-size: 16px;
  }
  .container--titulo-shelf {
    padding: 5px 20px;
  }
}

.container--blog-categorias {
  justify-content: center;
}

.link--blog-categorias {
  text-decoration: none;
  color: #00aeef;
  font-family: "Source Sans Pro Regular";
  font-weight: 600;
  font-size: 16px;
}

.container--blog-categorias-titulo {
  max-width: 1280px;
  margin: auto;
}

.paragraph--blog-categorias-titulo {
  font-family: "Poppins";
  font-size: 20px;
}

.container--texto-servicios-institucional {
  max-width: 1280px;
  width: 95%;
  margin: auto;
}

.paragraph--texto-servicios-institucional {
  font-size: 14px;
}

.link--boton-info-servicios-institucional {
  text-decoration: unset;
  color: #fff;
  background: #00aeef;
  padding: 8px 20px;
  font-family: "Poppins";
}

.container--titulo-elemento-servicios-institucional {
  max-width: 1280px;
  margin: auto;
  margin-top: 50px;
}

.paragraph--titulo-elemento-servicios-institucional {
  font-weight: 600;
  color: #000;
  font-family: "Poppins";
  font-size: 16px;
}

.paragraph--titulo-elemento-servicios-institucional::after {
  display: block;
  width: 25px;
  border-bottom: 3px solid #00aeef;
  content: "";
}

.link--boton-elemento-vermas {
  text-decoration: unset;
  color: #000;
  font-family: "Poppins";
  padding: 5px 25px;
  border: solid 1px;
}

.paragraph--texto-elemento-institucional {
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Helvetica";
  margin-top: 0;
}

.paragraph--texto-elemento-institucional-titulo {
  font-weight: 600;
  font-size: 16px;
}

.container--titulo-form-2 {
  width: 90%;
  padding: 15px 20px 15px;
  border: 1px solid #d2cfcf;
  border-bottom: unset;
  margin: auto;
  background: #fff;
}

.container--texto-cubiertas-institucional {
  max-width: 1280px;
  margin: auto;
}

.paragraph--texto-cubiertas-institucional {
  font-weight: 600;
}

.wrapper--texto-elemento-institucional-titulo
  .paragraph--texto-elemento-institucional {
  font-weight: 600;
  font-family: "Poppins";
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper--texto-elemento-institucional-titulo
  .paragraph--texto-elemento-institucional::after {
  content: "";
  display: block;
  width: 25px;
  border-bottom: solid 2px #00aeef;
  margin-top: -2px;
}

.link--boton-elemento-presupuesto {
  text-decoration: unset;
  color: white;
  background: #00aeef;
  padding: 6px 20px;
  font-family: "Poppins";
  margin-right: 15px;
}

.link--boton-elemento-presupuesto:hover {
  background: #fff;
  border: solid 1px #00aeef;
}

.container--texto-tiendas {
  max-width: 1280px;
  margin: auto;
}

.paragraph--texto-tiendas {
  font-weight: 600;
  font-size: 16px;
}

.paragraph--titulo-tiendas {
  margin: 0;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.paragraph--titulo-tiendas::after {
  display: block;
  width: 25px;
  border-bottom: #00aeef solid 3px;
  content: "";
}

.paragraph--tiendas-texto {
  margin: 0;
}

.wrapper--tiendas-texto {
  margin: 10px 0;
}

.container--texto-form {
  width: 90%;
  margin: auto;
  border: solid 1px #d2cfcf;
  border-bottom: unset;
  border-top: unset;
  padding: 0px 20px 0px 20px;
  background: #fff;
}

.container--boton-spaceplanner-institucional {
  max-width: 1280px;
  margin: auto;
}

.link--boton-spaceplanner-institucional {
  color: #fff;
  background: #00aeef;
  padding: 10px 15px;
  text-decoration: unset;
  font-family: "Poppins";
}

.wrapper--boton-spaceplanner-institucional {
  margin: auto;
}

.container--titulo-spaceplanner-institucional {
  max-width: 1280px;
  margin: auto;
}

.paragraph--texto-spaceplanner-institucional {
  max-width: 240px;
}

.wrapper--buyCart {
  width: 100%;
}

.paragraph--buyCart {
  text-align: center;
}

.link--buyCart {
  background: #fff;
  color: #00aeef;
  font-size: 13px;
  padding: 10px 20%;
  text-decoration: unset;
  text-transform: uppercase;
  font-family: "Poppins";
  border: solid 2px #00aeef;
}

.link--titulo-menu {
  color: #000;
  text-decoration: unset;
}

@media screen and (max-width: 768px) {
  .link--buyCart {
    padding: 10px 125px !important;
  }

  .container--texto-cubiertas-institucional {
    width: 90%;
  }

  .flexRow--row-materiales-cubiertas-institucional {
    width: 95%;
  }

  .paragraph--texto-video {
    margin-top: 0;
  }

  .paragraph--texto-noticia {
    width: 100%;
  }

  .container--titulo-newsletter {
    margin-bottom: 20px;
  }
}

.paragraph--texto-mantencion-tecnico {
  margin: 0;
}

.paragraph--titulo-mantencion-tecnico {
  margin-top: 0;
  font-family: "Poppins";
  font-weight: bold;
  color: #000;
}

.paragraph--titulo-mantencion-tecnico::after {
  display: block;
  width: 25px;
  border-bottom: #00aeef solid 3px;
  content: "";
}

.paragraph--marcas-left-item {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.paragraph--marcas-right-item {
  margin: 0;
}

.container--marcas-left-item {
  min-width: 200px;
}

.link--marcas-left-item,
.link--marcas-right-item {
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  color: #00aeef;
}

.paragraph--titulo-institucional-menu {
  font-family: "Poppins";
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
}

.container--institucional-texto {
  width: 90%;
  margin: auto;
}

.headingLevel3--institucional-texto {
  text-transform: uppercase;
  font-family: "Helvetica";
  font-size: 20px;
  color: #000;
  margin-top: 0;
}

.headingLevel3--institucional-texto::after {
  display: block;
  width: 25px;
  border-bottom: #00aeef solid 3px;
  content: "";
}

:global(.vtex-disclosure-layout-1-x-trigger--trigger-institucional--visible)
  .paragraph--titulo-institucional-menu {
  color: #fff;
}

.container--titulo-institucional {
  max-width: 1280px;
  width: 95%;
  margin: auto;
}

.paragraph--titulo-institucional {
  font-size: 30px;
}
