.container {
  font-family: "Roboto", sans-serif;
  font-size: 0.815rem;
  font-weight: 400;
  align-items: center;
  display: flex;
}
.container .link {
  color: #808080;
}
.container .link:hover {
  color: #00aeef;
}
.container .homeIcon--breadcrumb {
  width: 0;
  display: none;
}
.container .homeLink--breadcrumb::before {
  visibility: visible;
  content: "Home";
  margin: 0 0.15rem;
}
.container .homeLink--breadcrumb {
  display: flex;
  align-items: center;
}
.container .caretIcon--breadcrumb {
  display: none;
}
.container .arrow--breadcrumb {
  padding: 0;
}
.container .arrow--breadcrumb::before {
  visibility: visible;
  content: "/";
  margin: 0 0.15rem;
}
.container .term--breadcrumb {
  color: black;
  font-weight: bold;
  margin: 0 0.15rem;
}
