.productHighlightText--text-flag {
    color: #000;
    text-decoration: none;
    padding: 2px 5px;
    font-size: 11px;
    border: solid 1px;
    width: fit-content;
    font-family: 'Helvetica';
    position: relative;
    bottom: -45px;
    left: 20px;
    top: 50%;
    background: #fff;
    z-index: 5;
}

.productHighlightText--texto-highlight {
    top: 48px;
    left: 30px;
    font-size: 13px;
    position: relative;
    z-index: 3;
    background: #ffff;
    border: solid 1px;
}