@charset "UTF-8";
.product-identifier {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-weight: 400;
  font-size: 0.75rem;
}

.product-identifier__separator {
  margin-left: 0.375rem;
}

.product-identifier__label {
  font-size: 0;
}
.product-identifier__label::before {
  content: "Código";
  font-size: 0.75rem;
  text-transform: uppercase;
}
