@charset "UTF-8";
:global(.vtex-minicart-2-x-minicartSummary) {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}
:global(.vtex-minicart-2-x-minicartSummary) .summarySmallContent {
  font-weight: 400;
}
:global(.vtex-minicart-2-x-minicartSummary) .summarySmallDisclaimer {
  font-size: 0;
}
:global(.vtex-minicart-2-x-minicartSummary) .summarySmallDisclaimer::before {
  font-size: 0.875rem;
  content: "Gastos de envío calculados al finalizar la compra";
}
