//containers

//fonts
$font-1: "Poppins", sans-serif;
$font-2: "Source Sans Pro", sans-serif;
$font-3: 'Roboto', sans-serif;

//colors
$color-1: #1d63be;
$color-2: #00aeef;
$color-3: #161616;
$color-4: #808080;
$color-5: white;
$color-6: black;
