.titleTwo {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

:global(.vtex-rich-text-0-x-heading-level-1) {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4%;
}
.containerProds{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap; 
   
    .prod{
        cursor: pointer;
        max-width: 350px;
        width: 23%;
        text-align: center;

        .imgProd {
            border-radius: 5px;
        }

        .nameProd {
            width: 100%;
            text-align: left;
        }
    }

    @media screen and (max-width:991px) {
        &{
            width: 96%;
            margin: 0 auto;

            .prod {
                width: 46%;
                margin-top: 5%;
            }
        }
    }

    .seleccionado{
        opacity: .8;
    }
}

.containerForm {
    display: flex;
    align-items: center;
    justify-content: center;

    .labelForm {
        width: 40%;
    }

    .inputFormulario {
        width: 60%;
        margin: 2% 0;
        border: 1px solid #c8c8c8;
        border-radius: 2px;
        height: 36px;
        padding: 0 1rem;
        background: white;
    }

    :global(.vtex-styleguide-9-x-dropdown){
        width: 60%;
        margin: 2% 0;
    }

    .titleOne,
    .titleTwo{
        text-align: center;
        width: 100%;
    }

    .eventosForm {
        width: 70%;
        max-width: 1200px;
        min-width: 900px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .contentFirst {
            width: 50%;
            display: flex;
            align-items: center;
            padding: 2%;
        }
    
        .contentSecond {
            display: flex;
            justify-content: center;

            .firstColumn,
            .secondColumn {
                padding: 2%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 50%;
            }
        }

        .contentThird {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 4% 0;

            .labelForm {
                width: 80%;
                margin: 1% 0;
            }

            :global(.vtex-checkbox__line-container){
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .btnSend {
                background: #00aeef;
                border: none;
                color: white;
                width: 20%;
                padding: 1%;
                margin: 5%;
                border-radius: 0.25rem;
            }
        }
    }

    
}

@media screen and (max-width:991px) {
    .labelForm {
        width: 100% !important;
    }

    .inputFormulario {
        width: 100% !important;
    }

    :global(.vtex-styleguide-9-x-dropdown){
        width: 100% !important;
    }

    .eventosForm {
        width: 90% !important;
        min-width: 300px !important;



        .contentFirst {
            width: 100% !important;
            flex-wrap: wrap;
        }
        
        .contentSecond {
            flex-direction: column;
            align-items: center;

            .firstColumn,
            .secondColumn {
                width: 100% !important;
            }
        }

        .contentThird {
            width: 100% !important;

            .labelForm {
                width: 90%!important;
            }

            :global(.vtex-checkbox__line-container){
                width: 10% !important;
            }

            .btnSend {
                width: 35% !important;
                padding: 2% !important;
            }
        }
    }
    
}