@use "../var/library" as l;

.specificationName--specification-text-specification {
    font-size: 13px;
    font-family: l.$font-3;
}

.specificationValue--specification-text-value {
    font-size: 13px;
}