@use "../var/library" as l;

.searchResultContainer {
  padding: 0;
}

.notFound--layout {
  max-width: 1280px;
  margin: auto;
}

.gallery {
  padding-left: 3rem;
}

.galleryTitle--layout {
  font-family: l.$font-3;
  font-weight: 600;
  color: #808080;
  font-size: 16px;
  text-transform: uppercase;
  max-width: 1280px;
  width: 100%;
  text-align: inherit;
  margin: 40px auto;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 25px;
    margin-top: 5px;
    border-bottom: solid 3px #00aeef;
  }
}

/* .skuSelectorSubcontainer--color {
      display: none;
  } */

.selectedCategoryName {
  color: #00aeef;
  font-family: l.$font-3;
  font-weight: 400;
  font-size: 12px;
}

.filtersWrapper,
.accordionFilter {
  display: flex;
  flex-direction: column;
}

.filter__container{
  order: 10;
}

.filter__container--title,
.filterAccordionBreadcrumbs {
  order: -2;
}

.filter__container--category-3,
.accordionFilterContainer--sub-categoria {
  order: -1;
}

.filter__container--brand{
  order: 1;
}

.filter__container--talla{
  order: 11;
}

.filter__container--color{
  order: 12;
}



.filterTitle {
  font-family: l.$font-3;
  font-weight: 400;
  font-size: 12px;
}

.categoryItemName {
  font-family: l.$font-3;
  font-weight: 600;
  font-size: 14px;
}

.orderByButton {
  padding: 5px 5px;
  border-radius: 3px;
}

.orderByOptionItem {
  font-size: 12px;
  font-family: l.$font-3;
}

.orderByDropdown {
  padding: 0;
}

.orderBy--layout {
  display: flex;
  align-items: center;
}

.filterPopupTitle {
  font-size: 12px;
  font-family: l.$font-3;
}

.filterMessage {
  font-family: l.$font-3;
  font-weight: 700;
  font-size: 18px;
}

.totalProducts--layout {
  font-family: l.$font-3;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 5px;
}

.filter__container--c .filter .filterTitle {
  &::before {
    font-size: 12px;
    content: "Categorías";
    font-weight: bold;
    color: #00000085;
  }

  &:hover::before {
    color: #000;
  }

  font-size: 0;
}

.categoriesContainer .categoryParent .categoryItemName {
  display: none;
}

.filterPopupTitle {
  font-family: l.$font-3;
  font-weight: 400;
  font-size: 14px;
}

.categoryItemChildren {
  font-family: l.$font-3;
  font-size: 12px;
  color: #00000085;

  &:hover {
    color: #000;
  }
}

.caretIcon {
  width: 10px;
  height: 10px;
  color: #000;
}

.filterItem {
  :global(.vtex-checkbox__box-wrapper) :global(.vtex-checkbox__box) {
    border: solid 1px;
    border-radius: 0px;
  }

  :global(.vtex-checkbox__line-container) {
    align-items: center;

    :global(.vtex-checkbox__label) {
      font-size: 12px;
      color: #00000095;
    }
  }
}

.selectedCategoryIcon {
  margin-right: 15px;
}

.buttonShowMore--show-more {
  margin-top: 30px;
}

.filterTemplateOverflow {
  width: 95%;
}

.filter__container--selectedFilters {
  display: none;
}

@media screen and (max-width: 768px) {
  .galleryItem {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }

  .gallery {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-left: 0;
  }

  .galleryTitle--layout {
    font-size: 25px;
    width: 90%;
  }

  .totalProducts--layout {
    border: unset;
    width: 100%;
  }
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
  .galleryTitle--layout {
    max-width: 95%;
  }

  .gallery {
    padding-left: 0;
    width: 95%;
    margin: auto;
  }
}
