@use "../var/library" as l;

/* HEADER */

.styledLinkIcon--categoria-header {
  margin-left: 7px;
}

.styledLinkContent--categoria-header {
  color: #ffffff;
  font-family: l.$font-3;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;

  &:hover {
    font-weight: bold;
  }
}

.styledLinkContent--header-whatsapp {
  font-family: l.$font-3;
  color: #fff;
}

.styledLink--header-whatsapp::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/arquivos/icono-whatsapp-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.styledLinkContent--categoria-header-right {
  color: #00aeef;
  font-family: l.$font-3;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;

  &:hover {
    color: #fff !important;
  }
}

.menuContainerNav--categorias-nav-header {
  background: rgba(0, 0, 0,0.85);
}

.styledLinkContent--footer-item {
  color: #dcdcdc;
  font-family: l.$font-3;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.styledLinkContainer--footer-item {
  margin-left: 10px;
}

.styledLinkContent--footer-item:hover {
  color: #00aeef;
}

.submenuWrapper--submenu-header--isOpen {
  width: 100%;
  margin-top: 1px;
}

.submenuWrapper--item-submenu-nivel2--isOpen {
  display: block;
  position: initial;
  border-bottom: unset;
}

.submenu--item-submenu-nivel2 {
  display: block;
}

.styledLink--item-submenu {
  display: flex;
}

.styledLinkContainer--item-submenu-ver-todo {
  padding: 0;
  text-decoration: underline;
  margin-left: 10px;
  margin-right: 0;
}

.styledLinkContent--item-submenu-ver-todo {
  font-family: l.$font-3;
  font-size: 13px;
  font-weight: 400;
}

.submenuContainer--submenu-header {
  width: 100%;
  display: contents;
}

.submenu--submenu-header {
  justify-content: flex-start;
  padding-left: 5px;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  max-height: 400px;
  flex-wrap: wrap;
  gap: 2%;
  overflow: auto;
}

.submenu--submenu-header::-webkit-scrollbar{
  background:#fdfdfd;
  width:10px;
}

.submenu--submenu-header::-webkit-scrollbar-thumb{
  background:#ece8e8;
  border-radius:4px;
}

.styledLinkContainer--item-submenu {
  margin-left: 12px;
  margin-right: 12px;
}

.styledLinkContent--submenu {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
}

.styledLinkContainer--submenu {
  padding: 0;
}

.menuContainer--categorias-nav-header {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
}

.styledLinkContainer--categoria-header {
  margin: 0 1.5rem 0 1.5rem;
}

.styledLinkContainer--categoria-header-right {
  margin: 0 1rem 0 1rem;
}

.submenuContainer--itemmenu-header-2 {
  position: absolute !important;
  left: 45%;
}

.submenuWrapper--itemmenu-header--isOpen {
  border: solid 1px;
  width: max-content;
  max-height: 300px;
  padding: 0;
  margin-top: 14px;
}

.submenu--itemmenu-header {
  max-width: 640px;
}

.styledLinkContent--item-submenu {
  font-family: l.$font-3;
  font-weight: 400;
  color: #00000070;
  font-size: 14px;
}

.menuItem--categoria-header--isOpen::after {
  content: "";
  display: block;
  width: 50%;
  margin: auto;
  border-bottom: solid 5px #00aee1;
  margin-top: -3px;
}

.styledLinkContent--item-submenu:hover {
  color: #000 !important;
  font-weight: bold;
}

.styledLinkContainer--item-submenu {
  padding: 0;
}

.styledLinkContent:hover {
  color: #00aeef;
}

/* MOBILE */

.submenu--itemmenu-header-mobile {
  display: block;
}

.submenuWrapper--submenu-header-mobile--isOpen {
  display: block;
  width: 100%;
  position: inherit;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding-top: 0;
  background: #e8e8e8;
}

.submenu--submenu-header-mobile {
  display: block;
}

.submenu--itemmenu-header-mobile {
  display: block;
  border-top: solid 1px;
  border-bottom: solid 1px;
  background: #b9b3b3;
  overflow-y: scroll;
  max-height: 350px;
}

.submenu--submenu-header-mobile {
  max-height: 350px;
  overflow: scroll;
}

.submenuWrapper--itemmenu-header-mobile--isOpen {
  position: initial;
  padding-bottom: 0;
  padding-top: 0;
}

.submenuContainer--submenu-nivel2-mobile {
  background: #f7eaea;
}

.submenuWrapper--submenu-nivel2-mobile--isOpen {
  display: contents;
  width: 100%;
  background: #484848;
}

.submenu--submenu-nivel2-mobile {
  display: block;
}

.styledLinkContainer--submenu-mobile {
  padding: 20px 0;
}

.styledLinkContainer--item-submenu-mobile {
  padding: 20px 0;
  border-bottom: solid 1px #606060;
}

.menuContainerNav--menu-drawer {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  width: 85%;
  overflow: scroll;
  max-height: -webkit-fill-available;
}

.menuItem--categoria-header-mobile {
  border-top: solid 1px #848484;
}

.styledLinkContent--categoria-header-cian-mobile {
  font-family: l.$font-3;
  font-weight: 400;
  align-items: center;
  color: #00aeef;
  text-transform: uppercase;
}

.menuItem--categoria-header-cian-mobile {
  border-top: solid 1px #848484;
}

.styledLinkContainer--categoria-header-mobile, .styledLinkContainer--categoria-header-cian-mobile {
  padding: 20px 0;
}

.styledLinkContent--categoria-header-mobile {
  font-family: l.$font-3;
  font-weight: 400;
  align-items: center;
  color: #fff;
}

.accordionIcon {
  font-size: 25px;
  margin-top: -5px;
  color: #fff;
  margin-left: 0;
}

.accordionIcon--categoria-header-mobile--isOpen {
  color: #00aeef;
}

.menuItem--sub-categoria-header-mobile {
  width: 90%;
}

.styledLinkContent--sub-categoria-header-mobile {
  color: #fff;
}

.styledLinkContent--item-header-mobile {
  color: #00aeef;
}

.submenuAccordion--submenu-2-header-mobile, .submenuAccordion--submenu-header-mobile {
  display: block;
}

.styledLinkContainer--icon-favoritos {
  margin: 0;
}

.styledLinkContent:hover .styledLinkIcon {
  transform: unset !important;
}

.styledLinkContainer--icon-favoritos {
  padding: 5px;
}

.styledLinkContent--icon-favoritos {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .styledLink--header-whatsapp::before {
    width: 30px;
    margin: auto;
    height: 30px;
  }
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
  .styledLinkContainer--categoria-header {
    margin: 0 1rem 0 1rem;
  }

  .menuContainer--categorias-nav-header {
    max-width: 98%;
  }
}

@media screen and (max-width: 1080px) {
  .menuContainerNav--menu-drawer {
    max-height: 80%;
  }
}