.trigger{
    border-bottom: 1px solid gray;
    width: 100%;
    display: none;

    & .container--question{
        padding-left: 5%;
        color: black;
    }
}

.popper{
    position: relative !important;
    transform: unset !important;
    padding-bottom: 5%;

    & .outsideClickHandler {
        display: flex;
        align-items: center;
        justify-content: center;

        & .container{
            width: 90%;
            background: #ededed;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & :global(.vtex-rich-text-0-x-paragraph--box-vende-img){
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 0;
        
                & :global(.vtex-rich-text-0-x-strong--box-vende-img){
                  font-size: 1.5rem;
                  padding: 5% 0;
                }
        
                & :global(.vtex-rich-text-0-x-italic--box-vende-img){
                  font-size: 1rem;
                  font-style: normal;
                  padding: 0 5%;
                }
            }
        }
    }    
}

@media screen and (max-width:991px){
    .trigger{
        display: block;
    }
    
}


